body {
    font-family:'times new roman', times, serif;
    }


/* form {
  width: 300px;
}

label {
  display: block;
  margin-top: 10px;
}

input, select {
  width: 100%;
}

button {
  margin-top: 10px;
}

#missatge {
  margin-top: 15px;
  font-weight: bold;
} */
